fastapi
uvicorn
python-dotenv
pydantic
requests

# LLM
groq

# Vector store
faiss-cpu
numpy

# Data processing
beautifulsoup4
youtube_transcript_api
yt-dlp
pypdf

# Embeddings (API-based)
huggingface_hub
python-multipart
