fastapi
uvicorn
python-dotenv
pydantic
requests

# LLM
groq
langchain
langchain_openai

# Vector store (choose ONE)
faiss-cpu

# Data processing
beautifulsoup4
youtube_transcript_api
yt-dlp

# Optional (only if used)
chromadb
langchain_chroma

sentence-transformers
bs4
